html,body,header,main,section,footer,h1,h2,h3,h4,h5,h6,img,
nav,ul,li,a,figure,aside,article,div,p,button,input,b,i{
  padding: 0;
  margin: 0;
}
header,footer,main,aside,figure,section,article,nav{
  display: block;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
* {
  // box-sizing: border-box;
}
/*                  header start               */
/*                 reset end                   */
body{
  width: 1280px;
  margin: 0 auto;
}
#header{
  height: 56px;
  padding: 0px 56px;
  overflow: hidden;
}

#header h1{
  float: left;
}
#header h1 a{
  height: 100%;
  line-height: 56px;
  color: black;
}
#header h1 a img{
  width: 30px;
  height: 30px;
}

#header a.login {
  float: right;
  display: inline-block;
  width: 68px;
  height: 56px;
  line-height: 56px;
  color: red;
}
#header a.login img{
  width: 16px;
  height: 20px;
  margin-right: 5px;
}

#header .header-nav{
  float: right;
  width: 460px;
  line-height: 56px;
  padding-right: 10px;
}
.header-nav ul li{
  float: left;
}
.header-nav ul li a{
  display: block;
  width: 92px;
  height: 56px;
  text-align: center;
  color: gray;
  box-sizing: border-box;
}
.header-nav ul li a:hover{
  color: red;
  border-bottom: 4px solid rgba(255,0,0,0.5);
}
.header-nav ul li a.active{
  color: red;
  border-bottom: 4px solid rgb(255,0,0);
}
/*                  header end                 */
/*                new-life     start           */
.new-life{
  height: 916px;
  background: url("../images/top-bg.jpg") no-repeat;
  position: relative;
}
.new-life .mask{
  width: 100%;
  height: 684px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
}
.new-life .new-life-content{
  box-sizing: border-box;
  height: 684px;
  padding: 226px 0 0 116px;
  color: white;
  font-family: "Microsoft YaHei";
}
.new-life-content .content-title{
  font-size: 60px;
}
.new-life-content .content-summary{
  width: 298px;
  font-size: 21px;
}
.new-life-content .content-btn{
  display: block;
  width: 326px;
  height: 66px;
  margin-top: 46px;
  line-height: 66px;
  border: 1px solid rgb(231,79,77);
  background-color: rgb(231,79,77);
  text-align: center;
  font-size: 30px;
  color: white;
}

.new-life-items{
  height: 186px;
  background-color: #fff;
}
.new-life-items .new-life-item{
  height: 100%;
  width: 320px;
  float: left;
}
.new-life-item .item-img{
  display: block;
  width: 40px;
  height: 40px;
  padding: 45px;
  text-align: center;
  margin: 0 auto;
}
.new-life-item .item-content{
  height: 56px;
  text-align: center;
  box-sizing: border-box;
  padding: 0 76px;
  font-size: 14px;
  font-family: "SimHei";
  color: gray;
  border-right: 2px solid rgb(118, 119, 119);
}
.new-life-item .item-content.item-content-four{
  border-right: 0;
}
/*                new-life     end             */
/*         about-more-title    start */
.about-more{
  height: 2272px;
  margin-top: 76px;
}
.about-more .about-more-title{
  height: 270px;
  text-align: center;
  background-color: #edecec;
}
.about-more-title .about-more-title-img{
  width: 90px;
  height: 90px;
}
.about-more-title .about-more-title-words{
  margin-top: 50px;
  font-size: 54px;
  font-family: SimHei;
  color: gray;
}
/*         about-more-title    end   */
/*         map-find   start          */
.about-more .map-find{
  height: 332px;
  text-align: center;
  color: white;
  background: url(../images/map.png) no-repeat;
  box-sizing: border-box;
  position: relative;
}
.map-find .map-find-mask{
  width: 100%;
  height: 332px;
  position: absolute;
  background-color: rgba(255,0,0,0.1);
}
.map-find .find-title{
  margin-top: 38px;
  height: 44px;
  line-height: 44px;
  font-size: 21px;
  font-family: "Microsoft YaHei";
}
/*            common       */
.undeline{
  width: 40px;
  height: 0;
  margin: 10px auto;
  box-sizing: border-box;
  border: 2px solid white;
}
/*            common       */
.map-find .find-subtitle{
  font-size: 12px;
  font-family: "Microsoft YaHei";
}

.map-find .search{
  margin: 50px auto;
  height: 36px;
}
.search select, .search input{
  height: 100%;
  margin: 0 28px;
}

.search select{
  width: 234px;
  height: 36px;
  margin: 0 30px;
  box-sizing: border-box;
  appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  position: relative;
  left: 0px;
  top: 36px;
  background: url(../images/bottom-arrow.png) no-repeat scroll right center;
  background-color: #fff;
  box-sizing: border-box;
  padding: 5px;
  padding-right: 20px;
}
.search .search-btn{
  width: 230px;
  height: 36px;
  background-color: rgb(191,79,73);
  border: 1px solid rgb(191,79,73);
  color: white;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  text-align: center;
  letter-spacing: 10px;
  cursor: pointer;
}
/*           map-find    end         */
/*           activities    start     */
.about-more .activities{
  height: 598px;
  overflow: hidden;
}
.activities .activities-items{
  width: 320px;
  height: 100%;
  float: left;
  box-sizing: border-box;
  padding: 100px 0;
}
.activities-items .item-img{
  display: block;
  margin: 0 auto;
}
.activities-items .item-caption{
  display: block;
  font-size: 21px;
  font-family: "Microsoft YaHei";
  text-align: center;
}
.activities-items .item-caption span{
  color: gray;
}
.activities-items .item-caption .caption-sh{
  margin-left: 2em;
  letter-spacing: 2em;
}
/*           activities    end       */

.about-more .time{
  height: 560px;
}
.time .time-left{
  background: url(../images/footers.png) no-repeat;
  width: 838px;
  height: 100%;
  float: left;
  color: white;
  font-family: "Microsoft YaHei";
  text-align: center;
  position: relative;
}
.time-left .time-left-zh{
  margin: 130px 0 0 0;
  font-size: 50px;
}
.time-left .time-left-en{
  font-size: 158px;
  height: 120px;
  line-height: 120px;
  margin: 0;
}
.time-left .time-left-addre{
  font-size: 22px;
}
.time-left .time-left-date{
  font-size: 22px;
}
.time-left .time-left-border{
  position: absolute;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 24px;
  border-style: solid;
  margin-top: -12px;
  border-color: transparent white transparent transparent;
}

.time .time-right{
  float: left;
  width: 442px;
  height: 100%;
}
.time-right .time-right-title{
  margin-top: 162px;
  font-size: 21px;
  font-family: "SimSun";
  text-align: center;
}
.time-right .time-right-title span{
  color: red;
}
.time-right .time-right-content{
  font-size: 12px;
  font-family: "SimSun";
  margin: 30px 72px 50px;
}
.time-right .time-right-btn{
  font-size: 12px;
  font-family: "Microsoft YaHei";
  color: red;
  background-color: #fff;
  display: block;
  width: 104px;
  height: 32px;
  line-height: 32px;
  border: 1px solid red;
  margin: 0 auto;
  text-align: center;
}
.time-right .time-right-circle{
  margin: 26px auto;
  height: 12px;
  width: 104px;
}
.time-right-circle .circle{
  display: block;
  float: left;
  margin: 0 10px;
  width: 12px;
  height: 12px;
  border-radius:50%;
  border: 1px solid gray;
}
.time-right-circle .circle.active{
  background-color: gray;
}
/*           time    end             */
.about-more .we-love-life{
  height: 512px;
}
.we-love-life .life{
  width: 33%;
  height: 100%;
  float:left;
  font-size: 21px;
  font-family: "SimHei";
  text-align: center;
  position: relative;
}
.life .life-content span{
  display: inline-block;
  width: 100%;
}
.life .border{
  width: 30px;
  height: 5px;
  margin: 10px auto;
}
.life .border-we{
  background: white;
}
.life .border-love{
  background: gray;
}
.life .btn{
  width: 166px;
  height: 40px;
  font-size: 21px;
  text-align: center;
}
.life .btn.we-btn{
  background-color: transparent;
  color: #fff;
}
.life .btn.love-btn{
  color: red;
}
.life .wrapper{
  height: 144px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.we-love-life .we{
  background-color: rgb(237,79,71);
  color: white;
}
.we-love-life .love{
  background-color: #fff;
  color: gray;
}
.we-love-life .girl{
  width: 34%;
  position: relative;
  background: url(../images/girl.png) no-repeat;
}
.girl .girl-mask{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}
.girl .girl-arrow{
  position: absolute;
  left: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 24px;
  border-style: solid;
  margin-top: -12px;
  border-color: transparent transparent transparent white;
}
/*           we-love-life    end               */
.postulant{
  height: 616px;
  background-color: white;
  position: relative;
}
.postulant .wrapper{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 460px;
  width: 1000px;
  overflow: hidden;
}
.postulant header.tobe-postulant{
  width: 420px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  padding: 0;
}
header.tobe-postulant .postulant-title{
  font-size: 21px;
  font-family: "SimHei";
}
header.tobe-postulant .border{
  display: inline-block;
  border-top: 4px solid red;
  height: 6px;
  width: 30px;
}
header.tobe-postulant .postulant-subtitle{
  margin: 0 auto;
  font-size: 12px;
  font-family: "Microsoft YaHei";
}

.postulant aside.postulant-content{
  width: 300px;
  float: left;
}
.postulant-content .content-article{
  margin: 0 0 30px 0;
}
.postulant-content .content-article header{
  font-size: 14px;
  font-family: "SimHei";
  padding-left: 0;
}
.postulant-content .content-article main{
  font-size: 12px;
  font-family: "SimSun";
}
.postulant-content .content-article footer{
  text-align: right;
}
.postulant form.postulant-form{
  width: 700px;
  box-sizing: border-box;
  padding-left: 90px;
  float: left;
  font-size: 12px;
  font-family: "SimSun";
}
form.postulant-form .form-row{
  margin: 30px 0;
  text-align: center;
}
form.postulant-form p{
  margin: 0;
  text-align: center;
}
form.postulant-form textarea{
  width: 90%;
  margin: 20px auto;
  height: 100px;
  display: block;
}
form.postulant-form input[type="submit"]{
  font-size: 14px;
  font-family: "SimHei";
  margin: 10px auto;
  display: block;
  width: 100px;
  height: 30px;
  background: transparent;
  border: 1px solid red;
}
/*           postulant    end                  */
footer .contact{
  height: 350px;
  position: relative;
  background-color: rgb(50,53,62);
}
.contact .wrapper{
  position: absolute;
  width: 500px;
  height: 194px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  color: white;
}
.wrapper .contact-us{
  font-size: 21px;
  font-family: "SimHei";
}
.wrapper .contact-us-content{
  font-size: 12px;
  font-family: "SimSun";
  margin: 10px auto;
}
.wrapper .contact-input{
  width: 100%;
  height: 42px;
  position: relative;
  margin: 30px auto;
}
.wrapper .contact-input .input{
  float: left;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-right: 80px;
  padding-left: 20px;
}
.wrapper .contact-input .btn{
  width: 80px;
  height: 100%;
  line-height: 100%;
  border: 1px solid rgb(111,114,120);
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  font-size: 15px;
  font-family: "Microsoft YaHei";
  background-color: rgb(111,114,120);
}
.wrapper .links img{
  margin: 0 26px;
}
footer .footer-bottom{
  height: 60px;
  line-height: 60px;
  color: white;
  font-size: 12px;
  font-family: "SimSun";
  overflow: hidden;
  background-color: rgb(47,48,57);
}
.footer-bottom .copyright{
  float: left;
  margin-left: 100px;
}
.footer-bottom .back-to-top{
  float: right;
  margin-right: 40px;
}
.footer-bottom .back-to-top a{
  color: white;
}